html {
  color-scheme: light dark;
}

body {
  font-family: system-ui;
  max-inline-size: 100%;
  padding: 1rem;
}

.flow > *:not(:first-child) {
  margin-block-start: 4em;
}

.header {
  margin-block-end: 2em;
  text-align: center;
}

@media (min-width: 25rem) {
  .pieGrid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}
